
.dashContainer {
    background-image: url("../src/assets/dash-bg-img.jpg");
    /* background-color: rgb(33, 163, 157); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 73px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: flex-start; /*держит белое полотно посерелине по вертикали*/
}

.dashWorkingTable {
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    padding: 1rem;
    background-color: rgba(240, 248, 255, 0.4);
    color: black;
    border-radius: 8px;
    margin: 0.5em;
    width: 100%;
}


.todayAppointmentList {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    flex: 2;
    gap: 10px;
}

.appointmentListBox {
    background-color: rgba(240, 248, 255, 0.5);
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}

.appointmentList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}


.tabContainer {
    display: flex;
    justify-content:center;
    margin-bottom: 10px;
    gap: 10px;
}

.tabContainer button {
    padding: 10px;
    background-color: rgb(151, 173, 27);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tabContainer button:hover {
    background-color: #ccc;
}

.activeTab {
    /* background-color: #007bff; */
    color: white;
    border-color: grey;
}


.dashTools {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    flex: 1;
}

.createAppButton {
    background-color:rgb(151, 173, 27);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.createAppButton:hover {
    background-color: #ccc;
    color: 007bff;
    border-color: grey;
}


.allAppointmentContainer { /*with title of container*/
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 3;
    gap: 10px;
}

.filterContainer {
    background-color: rgb(151, 173, 27);
    border-radius: 8px;
    border: 1px solid grey;
    padding: 0.5em 1.1em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

.filterSelect {
    font-size: 1em;
    font-weight: 400;
    font-family: inherit;
    cursor: pointer;
}

.filterOptions {
    border-radius: 8px;
    
}

.allAppBox {     /*only app item boxes*/
    display: flex;
    flex-wrap: wrap;
    max-width: 85%;
    justify-content: center;
    
    gap: 10px;
    padding: 10px;
    margin: 25px;
    background-color: rgba(240, 248, 255, 0.6);
    border-radius: 8px;
}

.appointmentItem {
    background-color: rgba(100, 149, 237, 0.6);
    max-width: 350px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    
}

.appItemBtns {
    display: flex;
    gap: 5px;
}


