
.dashContainer {
    background-image: url("../src/assets/dash-bg-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: calc(100vh - 73px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    color: white;    
}

.dashWorkingTable {
    background-color: rgba(38, 37, 37, 0.6);
    min-height: 92vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 1rem;
    color: black;
    margin: 0em;
    width: 100%;
}

.dashToolsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashTools {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  rgba(157, 142, 126, 0.6);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
    gap: 10px;
    max-width: 280px;
    flex: 1;
    backdrop-filter: blur(20px);
}

.createAppButton {
    background-color: rgba(206, 240, 13, 0.6);
    box-shadow: 0 4px 6px rgba(0, 0, 0 , 0.5);
    transition: background-color 0.3s ease;
}


.todayAppointmentList {
    display: flex;
    background-color:  rgba(157, 142, 126, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border: 1px solid white;
    padding: 10px 0 10px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 2;
    gap: 5px;
    backdrop-filter: blur(2px);
    
}

.appointmentListBox {
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
}

.appointmentList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.appointmentItemToday {
    display: flex;
    background-color: rgba(255, 222, 173, 0.7);
    box-shadow: 0 4px 6px rgba(0, 0, 0 , 0.5);
    color:#1d1d1d;
    width: 280px;
    border: 1px solid white;
    border-radius: 8px;
    padding: 5px;
    margin: 4px;
    font-size: 0.8rem;
    gap:5px;
}

.appItemOne {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 2px;
}

.appItemTwo {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 2px;
}

.tabContainer {
    display: flex;
    justify-content:center;
    margin-bottom: 10px;
    gap: 10px;
}

.tabContainer button {
    padding: 10px;
    background-color: rgba(206, 240, 13, 0.6);
    box-shadow: 0 4px 6px rgba(0, 0, 0 , 0.5);
    transition: background-color 0.3s ease;
}


.activeTab {
    color: mediumvioletred; 
    
}


.allAppointmentContainer { /*with title of container*/
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 3;
    gap: 5px;
    background-color:  rgba(157, 142, 126, 0.5);
    border-radius: 8px;
    border: 1px solid white;
    padding: 10px;
    backdrop-filter: blur(2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}


.filtersContainer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.filterContainer {
    background-color: rgba(206, 240, 13, 0.6);
    box-shadow: 0 4px 6px rgba(0, 0, 0 , 0.5);
    border-radius: 8px;
    border: 1px solid navajowhite;
    padding: 0.5em 1.1em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

.filterSelect {
    font-size: 1em;
    font-weight: 400;
    font-family: inherit;
    cursor: pointer;
}

.filterOptions {
    border-radius: 8px;
    
}

.allAppBox {     /*only app item boxes*/
    display: flex;
    flex-wrap: wrap;
    max-width: 85%;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    margin: 25px;
    border-radius: 8px;
}

/*карточка*/
.appointmentItem {
    display: flex;
    flex-wrap: wrap;
    max-width: 280px; 
    border-radius: 8px;
    padding: 10px;
    margin: 4px;
    font-size: 0.85rem;
    background-color: rgba(255, 222, 173, 0.7);
    border: 1px solid white;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0 , 0.5);
    color:#1d1d1d;
    gap: 5px;
}

.appointmentItem div {
    overflow-wrap: anywhere;
}

.completed {
    background-color: rgba(0, 191, 166, 0.7);
    border: 1px solid white;
    backdrop-filter: blur(10px);
}

.canceled {
    background: rgba(227, 76, 116, 0.5);
    border: 1px solid white;
    backdrop-filter: blur(10px);
}

.noshow {
    background: rgba(239, 168, 187, 0.5);
    border: 1px solid white;
    backdrop-filter: blur(10px);
}


.appItemBtns {
    display: flex;
    align-items: end;
    gap: 4px;
}

.pagination {
    display: flex;
    align-items: center;
    gap: 5px;
}




